*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 84px;
}



body{
    justify-content: center;
    align-items: center;
    
}



#qr-codes-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
    width: 54rem;
  }

  .card-qr-code {
    border: 2px solid black;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;

  }

  p{
    font-size: 16px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }


  a{
    text-decoration: none;
    
  }